
.nav {
  background-color: var(--color-primario);
  border-bottom: 1px solid #e1e1e1;
 
}
nav {
  background-color: var(--color-primario);
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  /* position: fixed; */
  /* top: 70px;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  z-index: 1000; */
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: all 0.5s ease;
}

nav ul li {
  padding: 5px;
}

nav ul li a {
  font-size: var(--subtitulos2);
  font-family: var(--tipografia2);
  color: var(--color-fondo-hover);
  text-decoration: none;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: var(--color-secundario);
}

#icono_menu {
  display: none;
  justify-content: center;
  align-items: center;
  color: var(--color-texto2);
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
}

/**** Adaptado a dispositivos moviles ****/
@media screen and (max-width: 500px) {
  .nav{
    padding: 10px 0px;
    position: fixed; /* Fija la barra de navegación */
    top: 0; /* Posición superior de la pantalla */
    left: 0; /* Alineado al borde izquierdo */
    width: 100%; /* Ocupa todo el ancho de la ventana */
    z-index: 1000; /* Se asegura de estar por encima de otros elementos */
  }
  nav {
    position: relative;
  }

  nav ul {
    background-color: var(--color-primario);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    position: absolute;
    top: 51px;
    width: 100%;
    left: -120%;
    transition: all 0.5s ease-in-out;
    height: 100%;
  }

  nav ul li {
    padding: 5px;
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
  }

  nav ul li a {
    font-size: 20px !important;
    font-family: var(--tipografia1);
    width: 100%;
  }

  nav ul li a:hover {
    color: var(--color-secundario);
    transition: all 0.5s ease-in-out;
  }

  /* Menu de hamburguesa */
  #icono_menu {
    font-size: 25px;
    padding: 20px;
    display: flex;
  }

  nav ul.abrir_menu {
    height: 200vh;
    left: 0;
  }
}
