@media screen and (max-width: 500px) {
  /* estilos generales */
  p{
   font-size: 12px !important;
  }
  
  .titulos h2{
    font-size: 24px !important;
  }

  .titulos p{
   font-size: 14px !important;
  }
  
  .header{
    display: none;
  }
  
  /* menu principal  */
  .principal{
    width: 100%;
  }
  .principal-contenido1{
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding: 10px;
  }

  .principal-contenido1-card {
    width: 100% !important;
  }

  .principal-contenido1-card h1 {
    text-align: center;
    font-size: 40px !important;
  }

  .principal-contenido1-card-img{
    width: 100%;
  }

  .principal-contenido1-card-img img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 80%;
  }

  /*seccion about*/
  .about-container {
    
    width: 100%;
    justify-content: left;
    padding: 50px 0px;

  }
    .about-content {
      max-width: 100%;
      padding: 20px;
      z-index: 3;
    }

    .about-content h1 {
      font-size: 20px;
    }
  
    .about-content p, h3 {
      font-size: 16px;
    }
  
    .about-images img {
      display: none;
    }
  /***** servicios  ******/

  .servicio-content {
    width: 90%;
    grid-template-columns: 1fr;
    gap: 25px;
    padding: 50px 0px;
  }
  
  /*portafolio*/
  .portafolio-contenedor-img{
    width: 90%;
    grid-template-columns: 1fr ;
  }
  /********** precios *********/
  .rslides li {
    height: auto;
  }


  .slider-controls i {
    padding: 8px;
    cursor: pointer;
  }
  
  
  /******** Testimonio **********/
  .testimonio-header p{
    width: 100%;
    
  }
  /* blog  */
  .blog-cards {
    width: 100%;
    display: flex;
    flex-direction: column; 
  }


  /*contacto*/
  .formulario{
    width: 90%;
    gap: 10px;
    padding: 5px;
  }

  input,
  textarea {
    width: 280px;
    padding: 10px;
   
  }
  textarea {
    resize: none;
    height: 50px;
  }
  
  

  
}